body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    width: 1300px;
    margin-left: 135px;
    margin-right: 135px;
    margin-top: 50px;
}

:root {
    --pri-co: #FF5400;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 49px;
}


.left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-img {
    width: 48px;
    height: 56.008px;
}

.left-a {
    font-size: 36px;
    font-weight: 800;
}

.right a {
    text-decoration: none;
}

.right-a {
    font-size: 18px;
    font-weight: 400;
}

.right {
    display: flex;
    gap: 40px;
    align-items: center;
}

.right-b {
    display: none;
}

/* banner */
.banner {
    width: 1300px;
    height: 600px;
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
}

.banner-text-selector {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.83) 0%, rgba(0, 0, 0, 0.582) 50%, rgba(35, 32, 32, 0) 100%);
}

.banner-text {
    width: 1300px;
    color: #fff;
}

.banner-text-a {
    padding-top: 106px;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner-text-b {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    padding: 0px 300px;
}

.banner-selector {
    margin-top: 48px;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.b-s-a {
    width: 174px;
    height: 52px;
    border: none;
    /* margin-right: 10px; */
    border-radius: 8px;
    background: #FFF;
    padding: 0px 15px;

    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}

.btn-primary {
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background-color: var(--pri-co);
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

/* Second Page */

.second-page {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

}

.text-section {
    width: 50%;
}

.t-s-a {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.s-p-a {
    margin-bottom: 20px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.s-p-btn {
    margin-top: 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background-color: var(--pri-co);
}

/* Third page */
.third-page {
    margin-top: 100px;
}

.text-div {
    text-align: center;
}

.image-div a {
    text-decoration: none;
}

.b-b {
    display: grid;
    grid-template-columns: 40% auto;
    gap: 20px;
}

.bangladesh {
    height: 320px;
    background-image: url(../Images/Rectangle\ 11.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.bang-t {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    padding: 120px 0px;

}



.bandarban {
    height: 320px;
    background-image: url(../Images/Rectangle\ 10.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.band-t {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    padding: 120px 0px;
}

.s-n-k {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 380px 580px 300px;
    gap: 20px;
}

.srilanka {
    height: 310px;
    background-image: url(../Images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;

}

.sr-t {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    padding: 120px 0px;
}

.north-america {
    height: 310px;
    background-image: url(../Images/Rectangle\ 7.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;

}

.na-t {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    padding: 120px 0px;
}

.kashmir {
    height: 310px;
    background-image: url(../Images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.ka-t {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    padding: 120px 0px;
}

.m-i {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.maldives {
    height: 300px;
    background-image: url(../Images/Rectangle\ 5.png);
    background-size: cover;
    border-radius: 16px;
}

.ma-t {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    padding: 120px 0px;
}

.indonesia {
    height: 300px;
    background-image: url(../Images/Rectangle\ 8.png);
    background-size: cover;
    border-radius: 16px;
}

.in-t {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    padding: 120px 0px;
}

/* Forth-page */
.forth-page {
    margin-top: 100px;
}

.why-choose-us {
    text-align: center;
}

#w-c-u-p {
    padding: 0px 230px;
}

.f-icon {
    width: 64px;
    height: 64px;
}

.h-head {
    color: #131318;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.hotel-map {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}

.hotel {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px 55px 0px 32px;
}

.map {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px 55px 0px 32px;
}

.price-tag {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px 55px 0px 32px;
    width: 550px;
    margin: 0px 320px;
}

/* Fifth page */

/* Sixth page */
.sixth-page {
    margin-top: 100px;
    display: flex;
    gap: 20px;
}

.s-text-sec {
    width: 50%;
}

#six-head {
    margin-top: 20px;
    margin-right: 170px;
}

.s-p-li {
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    /* 162.5% */
    margin-right: 40px;
}

.s-img-sec {
    width: 50%;
    height: 424px;
    background-image: url(../Images/Group\ 40089.png);
    background-size: cover;
    border-radius: 16px;
}

.s-i-p {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    padding: 170px 170px;
}

/* Seventh Page */

.seventh-page {
    margin-top: 100px;
    display: flex;
    gap: 30px;
    position: relative;
    height: 422px;
}

.form {

    padding: 0px 40px 40px;
    width: 40%;
    border: 2px solid #FF5400;
    border-radius: 16px;
}

#form-head {
    margin-bottom: 0px;
}

#form-p {
    width: 400px;
    padding-top: 5px;
    margin-bottom: 38px;
}

.inp-sec {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.inp-n-e {
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;

    padding-left: 20px;
    height: 52px;
    border-radius: 8px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
}

#sub-btn {
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sev-img {
    width: auto;


}

#offer {
    width: 335px;
    height: 120px;
    transform: rotate(-19.628deg);
    text-align: center;
    padding: 10px 0px;
    position: absolute;
    bottom: 54px;
    right: 25px;

}

#off-p {
    color: #FFF;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0px;
}

#save-off {
    margin-top: 0px;
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}

/* Footer */
footer {
    margin-top: 100px;
    text-align: center;
    height: 480px;
    background: rgba(19, 19, 24, 0.05);

}

#foot {
    padding: 0px 510px;
}

hr {
    margin: 50px 100px;

}

#foot-p {
    padding: 0px 200px;
}

.foot-img {
    margin-top: 32px;
}

.foot-l-p {
    color: #131318;
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
}

@media screen and (max-width : 776px) {
    body {
        width: 576px;
        margin: 0px;
        padding: 10px 20px;
    }

    /* header */
    .left {
        align-items: center;
    }

    .left>img {
        width: 28.724px;
        height: 33.516px;

    }

    .left-a {
        font-size: 21.543px;
        font-weight: 800;
    }

    .right {
        display: none;
    }

    .nav-bar {
        align-items: center;
    }

    .right-b {
        display: inline;
        width: 30px;
    }

    .right-b a {
        text-decoration: none;
    }

    .right-b>.right-b-a {
        list-style: none;
        display: none;
    }

    .right-b:hover>.right-b-a {
        display: block;
        position: relative;
        right: 120px;

    }

    .banner {
        width: 100%;
    }

    .banner-text-selector {
        width: 100%;
    }

    .banner-text {
        width: 100%;
    }

    .banner-text-a {
        padding-top: 32px;
        font-size: 32px;
        font-weight: 800;
    }

    .banner-text-b {
        padding: 8px 22px;
        font-size: 14px;
        font-weight: 400;
    }

    .banner-selector {
        flex-direction: column;
    }

    .b-s-a,
    .btn-primary {
        width: 100%;
        padding: 0px;
        text-align: center;
    }

    /* second page */
    .second-page {
        margin-top: 25px;
        flex-direction: column;
        gap: 20px;
    }

    .text-section {
        width: 100%;
    }

    .image-section {
        text-align: center;
    }

    /* Third page */
    .third-page {
        margin-top: 25px;
    }

    .b-b {
        display: flex;
        flex-direction: column;
    }

    .s-n-k {
        display: flex;
        flex-direction: column;
    }

    .kashmir {
        position: relative;
        background-position: bottom;
    }

    /* Forth page */

    .forth-page {
        margin-top: 25px;
    }

    .t-s-a {
        color: #131318;
        text-align: center;
        font-size: 30px;
        font-weight: 800;
    }

    #w-c-u-p {
        padding: 0px 33px;
    }

    .hotel-map {
        flex-direction: column;
    }

    .price-tag {
        margin: 0px;
        width: auto;
    }

    /* Fifth Page */

    /* Sixth Page */
    .sixth-page {
        margin-top: 25px;
        flex-direction: column;
    }

    .s-text-sec {
        width: 575px;
    }

    #six-head {
        margin: 0px;
        width: 348px;
        text-align: start;
    }

    #six-para {
        width: 500px;
    }

    .s-p-li {
        width: 95%;
    }

    .s-img-sec {
        width: 100%;
    }

    /* Seventh Page */

    .seventh-page {
        margin-top: 20px;
        flex-direction: column;
    }

    .form {
        width: auto;
    }

    .sev-img>img {
        width: 100%;
    }

    #offer {
        top: 630px;
    }
    /* footer */
    footer{
        margin-top: 440px;
    }
    #foot{
        padding: 0px 200px;
    }
    #foot-p{
        padding: 0px 100px;
    }



}